iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

main {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: content-box;
}

@media (max-width:960px) { 
.sidepicks {
  display:none;
  float: right;
  width: 180px;
}
}

@media (min-width:960px) {
.sidepicks {
  float: right;
  position: relative;
  top: -9800px;
  width: 180px;
  left:-40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  z-index: 0;
  display: flex;
  flex-flow: column  wrap;
}
}

.editors > a {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.editorimg {
  max-height: 80px;
  max-width: 81px;
  text-decoration: none;
  padding-right: 7px;
  padding-bottom: 17px;
}

.editortext {
  font-size: 12px;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: #333;
  position: relative;
  margin-top: 0;
  flex-basis: 50%;
}

.title_related {
  border-bottom: 1px solid lightgray;
  width: 180px;
  margin: 12px 0;
}

.navdiv {
  position: fixed;
  width: 100%;
  z-index: 2;
  clear:both;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 20px;
  border-bottom: 1px solid lightgray;
}

.spaceandcosmos {
  font-weight: bold;
  font-size: 13px;
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  color: black;
  float: right;
  flex: 6 1 130px;
  width: 655px;
}

.top-logos {
  display: flex;
  justify-content: space-around;
  width: 50px;
  flex: 1 1 50px;
  font-size: 13px;
}

.button {
  color: white;
  border: 1px solid #326891;
  border-radius: 3px;
  background-color: #6288a5;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  height: 30px;
  font-size: 11px;
  padding: 0 10px;
}

.nav-buttons {
  flex: 1 1 150px;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-style: italic;
  word-break: break-all;
  white-space: normal;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  text-align: left;
  position: relative;
  left: -80px;
  top: 10px;
  line-height: 45px;
}

.nytimes-logo-link {
  flex: 7 1 150px;
  padding-top: 5px;
}

.mainheader {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 950px;
}

.mainimg {
  width: 954px;
}

.caption {
  padding-top: 8px;
  color: rgb(107, 107, 107);
  align-self: flex-start;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  display: block;
}

.caption2,
.datepublished {
  color: rgb(148, 148, 148);
  align-self: flex-start;
  font-size: 12px;
  font-family: 'Merriweather', serif;
  padding-top: 4px;
  display: block;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding:0;
  overflow: auto;
}

.article-head {
  max-width: 620px;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article-head > a {
  min-width: 400px;
}

.article-head > span {
  min-width: 300px;
}

.article-head > div {
  min-width: 300px;
  display: flex;
}

.social {
  margin-left: 20px;
  justify-content: center;
  display: inline-block;
  align-self: flex-end;
}

.author {
  text-decoration: underline;
  text-decoration-color: lightgray;
  font-size: 14px;
  color: #333;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

.signupside {
  position: relative;
  top: -580px;
  width: 180px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

.signupside > h4 {
  font-size: 18px;
}

.signupside > button {
  width: 180px;
}

.icon {
  height: 28px;
  padding: 5px;
}

.text {
  max-width: 618px;
  font-size: 18.5px;
  line-height: 30px;
  color: #333;
}

.link {
  color: #3e759e;
}

.create-account {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 14px;
}

.lines {
  width: 80px;
  border-bottom: 1px solid lightgray;
  margin: 20px 0;
}

.create-account > a {
  padding-top: 3px;
  text-decoration: none;
}

h5 {
  font-size: 19px;
}

.video_text {
  width: 620px;
  height: 340px;
}

.title {
  font-weight: bolder;
}

.image2 {
  width: 610px;
}

.image_2 {
  max-width: 610px;
  padding-top: 30px;
}

.cap3 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 15px;
  font-size: 11px;
  max-width: 580px;
  color: #333;
}

.bottomlink {
  color: rgb(87, 86, 86);
}

.bottom_1 {
  width: 300px;
  height: 40px;
}

.article-comments {
  padding-top: 10px;
  display: flex;
  width: 620px;
  justify-content: space-between;
  align-items: center;
}

.related_section {
  display: grid;
  grid-template: 2fr 1fr / 3fr 1fr;
  margin: 60px 50px 20px 50px;
  row-gap: 20px;
  column-gap: 20px;
}

.related_section > * {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
}

.related_with_images {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-flow: row wrap;
}

.headnoimg {
  min-width: 500px;
  max-height: 30px;
}

.related_right {
  grid-area: 1 / 2 / 3 / 3;
}

.stories {
  display: flex;
  flex-flow: row wrap;
}

.story {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 250px;
  margin: 10px 20px 10px 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.list > li {
  padding: 5px 0;
}

.relatedlink > a,
.reltitle {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

.editors_pick2 {
  grid-area: 2 / 1 / 3 / 2;
}

.relimg {
  width: 260px;
  margin-top: 15px;
}

.noimages {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  margin: 0;
}

.reltitle {
  text-decoration: none;
}

.story > * {
  flex-basis: 30%;
}

.footer {
  border-top: double gray;
  margin: 0 35px;
}

.nyt_logo {
  margin: 10px 0 15px -10px;
  float: left;
  height: 40px;
}

.home_page {
  margin-top: 10px;
  float: right;
  color: #326891;
  font-size: 12px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.columns {
  clear: left;
  margin-bottom: 30px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 50px;
}

.relatedlink {
  border-top: 1px solid lightgray;
}

.listlink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: black;
  padding: 2px;
  margin: 0;
}

.listitem {
  padding: 0;
}

.head {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.corporate_links,
.alternate_links {
  list-style: none;
  text-align: start;
  padding-left: 0;
  line-height: 20px;
}

.listitem2 > a {
  font-size: 10px;
}

.six {
  border-left: 1px solid lightgray;
  padding-left: 10px;
}

.corporate_links {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.bottombar {
  height: 50px;
  text-align: center;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid gray;
}

@font-face {
  font-family: 'Handlee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Handlee Regular'), local('Handlee-Regular'), url(https://fonts.gstatic.com/s/handlee/v8/-F6xfjBsISg9aMakPm3wow.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-cSZMZ-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-eCZMZ-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-cyZMZ-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-ciZMZ-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
