body {
padding:0;
margin:0;
width: 100%;
}

.navdiv {
  position:fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items:center;  
  background-color: white;
  padding:5px 20px;
  border-bottom:1px solid lightgray;
}

.spaceandcosmos {
  font-weight: bold;
  font-size: 13px;
  font-family: 'Libre Franklin', sans-serif;
  text-decoration: none;
  color:black;
  float: right;
  flex: 6 1 130px;  
  width: 655px;
}

.top-logos {
  display: flex;
  justify-content: space-around;  
  width: 50px;
  flex: 1 1 50px;
  font-size: 13px;
}

.button {
  color: white;
  border: 1px solid #326891;
  border-radius: 3px;
  background-color: #6288a5;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  height: 30px;
  font-size: 11px;
  padding:0 10px;

}

.nav-buttons {
  flex: 1 1 150px;
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-style: italic;
  word-break: break-all;
  white-space: normal;
  font-family: 'Handlee', cursive;
  font-size: 40px;
  text-align: left;
}


.nytimes-logo-link {
  flex: 7 1 150px;
  padding-top: 5px;
}

.mainheader {  
padding-top:50px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
width:950px;

}

.mainimg {
  width:950px;
}

.caption {
  padding-top:8px;
  color: rgb(107, 107, 107);
  width:750px;
  align-self:flex-start;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.caption2 {
  color: rgb(148, 148, 148);
  width:950px;
  align-self: flex-start;
  font-size:12px;
  font-family: 'Merriweather', serif;
  padding-top:4px;

}

article {
display: flex;
flex-direction: column;
align-items:center;
font-family: 'Merriweather', serif;
}

.article-head {
  min-width: 650px;
}


.article-head {}

.author {}

.text {}

.create-account {}

.unlock {}

.create_account_login {}

.title_related {}

.editors {}

.editor1 {}

.theory_of_inflation {}

.inline_link {}

.youtube_video {}

.video_text {}

.video_caption {}

.video_caption2 {}

.image_2 {}

.title {}

.caption_2 {}

.button_bottom_1 {}

.social_bar {}

.related_section {}

.editors_pick {}

.related_right {}

.footer {}

.columns {}

.corporate_links {}

.alternate_links {}

@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
